<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:method="POST" th:action="@{/students}" th:object="${student}">
    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName">
    <div style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>

    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <div style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

    <label for="courseId">Enter course id:
        <select th:field="*{course.id}" id="courseId">
            <option th:each="course : ${courses}"
            th:value="${course.id}"
            th:text="${course.id}"></option>
        </select>
    </label>

    <label for="groupId">Enter group id: </label>
    <input type="text" th:field="*{group.id}"  id="groupId">

    <input type="submit" value="Create"/>
</form>

</body>
</html>